.animateHighlight {
  animation-duration: 2.5s;
  animation-name: _highlight;
}

@keyframes _highlight {
  0% {
    transform: scale(1);
    background-color: white;
  }
  65% {
    transform: scale(1.05);
    background-color: lightgray;
  }

  100% {
    transform: scale(1);
    background-color: white;
  }
}

.animateFireIcon {
  animation-duration: 2.5s;
  animation-name: _fire;
  animation-fill-mode: forwards;
}

@keyframes _fire {
  0% {
    transform: scale(1);
  }
  25% {
    transform: rotate(14deg);
    color: #e76b6b;
    /*  transform: scale(1.2); */
  }
  45% {
    transform: rotate(-14deg);
  }
  65% {
    /*  transform: scale(1.45); */

    color: red;
    transform: rotate(14deg);
  }

  80% {
    transform: rotate(-14deg);
  }

  100% {
    transform: scale(1);
    color: #ff6600;
    transform: rotate(0deg);
  }
}

/* ------------------------------------ */
